.ordbtn {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .btnfirst {
        margin-right: 1.1rem;
        padding: 1rem 3.1rem;
        background: #42afb6;
        color: white;
        border: none;
        font-size: 20px;
        font-weight: 300;
    }
    .btnsecone {
        margin: 0rem 1.1rem;
        padding: 1rem 3.1rem;
        background: white;
        border: 1px solid rgba($color: #adadad, $alpha: 0.7);
        border-radius: 0.5rem;
        font-size: 21px;
        font-weight: 400;
    }
}

.sectionorder {
    margin-bottom: 0rem;

    div.foodlist {
        background: rgba(66, 175, 182, 0.05);
        padding-top: 2rem;
        padding-right: 3rem;
        padding-left: 8rem;
        width: 96%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .card {
        max-width: 45rem;
        height: 13rem;
        padding-right: 1rem;
        padding-left: 2rem;
        border: 1px solid rgba(66, 175, 182, 0.2);
        border-radius: 0.5rem;
        box-shadow:   0.07rem 0.13rem 0.17rem 0.07rem #c4c2c2;
    }
    .btndifr {
        margin-top: 3rem;
        background:  #42afb6;
        color: #fff;
        border: none;
        padding: 1.1rem 2.9rem;
        border-radius: 0.5rem;
    }
}

@media ( max-width: 501px) {
    p.faq {
        font-size: 2.3rem !important;
        line-height: 33px !important;
        height: 40%;
        word-spacing: 0.1rem !important;
        letter-spacing: 0.01rem !important;
    }
    .ordbtn {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .bont {
            margin-left: 4rem;
        }
    }
    .ordbtn .btnfirst {
        margin-right: 0rem;
        padding: 0.5rem 3.1rem;
        font-size: 13px;
        font-weight: 500;
    }
    .ordbtn .btnsecone {
        margin-right: 0rem;
        padding: 0.5rem 4rem;
        font-size: 13px;
        font-weight: 500;
    }
    .shift {
        margin-left: 1.05rem;
        margin-bottom: 0.8rem;
    }
    .sectionorder {
        margin: 0rem 0rem !important;
    }

    div.foodlist {
        width: 100%;
        padding: 2rem 0rem !important;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .card {
        width: 35%;
        margin: 0rem 0rem;
        height: 20rem;
        padding-left: 5.5rem;
        padding-right: 5.5rem;
        position: unset;
    }
    .col-md-3 .hang {
        border-radius: 0.5rem;
        position: relative;
        right: 5.1rem;
        bottom: 1rem;
    }
    .no-gutters {
        .move {
            display: block;
        }
        .dbag {
            width: 10rem;
            font-size: 1.05rem;
            margin-top: -1rem;
            position: relative;
            right: 5.5rem;
            bottom: 1.8rem;
        }
        
        .moverr {
            width: 10rem;
            margin-top: -0.7rem;
            font-size: 15px !important;
            position: relative;
            right: 5.8rem;
            bottom: 2.5rem;
        }
    }
    p.card-text.deelz {
        width: 10rem;
        font-size: 11px;
        word-spacing: 0.015rem;
        letter-spacing: 0.015rem;
        position: relative;
        right: 5.5rem;
        bottom: 2.7rem;
    }
    
     .buttnz {
        width: 6.19rem;
        text-align: center;
        border: 0;
        font-size: 13px;
        font-weight: 500;
        padding: 0.35rem 0.9rem;
        color: white;
        border-radius: 0.4rem;
        position: relative;
        right: 2rem;
        bottom: 5.1rem;
    }
    .btnz {
        border: 1px solid rgb(161, 161, 161);
        padding: 0.25rem 1.3rem;
        font-size: 13px;
        position: relative;
        right: 5.5rem;
        bottom: 3.2rem;
    }
    
    .btndifr {
        margin-top: 0rem !important;
        margin-bottom: 0rem;
        font-size: 15px;
        padding: 0.7rem 1.5rem !important;            
    }
}
